<body>

    <div class="bg">
<h1>Ride Details</h1>
<br>
<br>
<br>

<div >
    <table align="center">
        <tr>
          <th colspan="2">Ride confirmed driver is on the way</th>
        </tr>
        <tr>
          <th scope="col">Driver Name</th>
          <td>{{carDetails.driverName}}</td>
        </tr>
        <tr>
          <th scope="col">Vehical No</th>
          <td>{{carDetails.vehicalID}}</td>
        </tr>  
        <tr>  
          <th scope="col">Mobile No</th>
          <td>{{carDetails.mobileNo}}</td>
        </tr>
        <tr>
          <th scope="col">Driver Rating</th>
          <td>{{carDetails.driverRating}}</td>
        </tr>
        <tr>
          <th colspan="2">Your Ride Information</th>
        </tr>
        <tr>
          <th scope="col">Pickup Location</th>
          <td>{{pickUp}}</td>
        </tr>
        <tr>
          <th scope="col">Destination Address</th>
          <td>{{dropOff}}</td>
        </tr>
        <tr>
          <th scope="col">Total Distance</th>
          <td>{{dyt}}</td>
        </tr>
        <tr>
          <th scope="col">Asstimeted Duration</th>
          <td>{{time}}</td>
        </tr>
        <tr>
          <th scope="col">Assimated Price</th>
          <td>{{price}}</td>
        </tr>
    </table>
    </div>
  </div>
</body>